.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  text-align: center;
  text-decoration: solid;
  color: #1a1a1a;
  font-size: 48px;
}

.App-footer {
  margin-top: 5px;
}

body {
  background-color: #f3f3f3;
}

a {
  color: 1c5ad4;
}
