.Meaning h3 {
  font-style: italic;
  font-weight: lighter;
  font-size: 25px;
}

.Meaning .example {
  font-size: 15px;
  font-style: oblique;
  margin-top: 10px;
  color: grey;
}

.Meaning .definition {
  font-size: 20px;
  font-style: bold;
}
